@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}

$primary-color: #c5932c;